<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--	 <listeners>
        <listener class-name="api.test.JiraTestListener" />
        </listeners> -->
        
	<test  name="Test">
		<classes>

	    	<class name="api.test.LoginTest" />
	    	<class name="api.test.VendorTest" />
	    	
			<class name="api.test.SendLetterTest" />
			
		    <class name="api.test.EmployeeTest" />
			<class name="api.test.TeamTest" /> 
			<class name="api.test.ProjectTest" />
			<class name="api.test.UploadFileTest" />
			<class name="api.test.PdfTest" />
			<class name="api.test.SearchTest" />
			<class name="api.test.PhraseTest" />	
		    <class name="api.test.CommunityTest" /> 
			<class name="api.test.AdminTest" />
			 <class name="api.test.IssueTypeTest" />  
			 
	 <!--	       <class name="api.test.AdminCompanyTest" />   -->
		  
			<class name="api.test.DroneDpTest" /> 
			<class name="api.test.DvsDataSearchTest" />  

		</classes>
	</test>  


</suite> <!--
Suite -->
